*{
    box-sizing: border-box;
}

div {
    margin: 2em 0;
    text-align: center;
}

table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 33.33%;
    border: 1px solid;
    height: 50px;
}

.w90 {
    width: 90%;
}

.w80 {
    width: 80%;
}

.w75 {
    width: 75%;
}

.w72{
    width: 72%;
}

.w60 {
    width: 60%;
}

.w40{
    width: 40%;
}

.w28 {
    width: 28%;
}

.h200 {
    height: 200px;
}